{% extends 'base.html' %}
{% block content%}

<h1>Heres the Game Board!</h1>

<table id="boggle_board">

    {% for row in board %}
    <tr>
        {% for char in row %} 
        <td>{{char}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
     


</table>

<form id = "guess_form">
 <input type="text" placeholder="guess" id="guess">
 <button id ="submitguess">Submit Guess!</button>
</form>
<div id="output">
    <h1 id="score">Score :</h1>
    <p id="result"></p>
</div>

{% endblock %}

{% block scripts%}
<script src="static/app.js"></script>
{% endblock %}